
<div class="limiter">
    <div class="container-login100" style="background-image: url('../../../../assets/images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            
            <form class="login100-form" autocomplete="off" (ngSubmit)="doLogin()" [formGroup]="loginForm">
                
                <span class="login100-form-title p-b-49">
                    Login
                </span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">Usuario</span>
                    <input class="input100"
                           type="text" 
                           name="Usuario" 
                           placeholder="Nombre de Usuario"
                           formControlName="username"
                           >
                    <span class="form-text text-danger" *ngIf="validarCampo('username')">
                        El nombre de usuario no puede estar vacío
                    </span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">Password</span>
                    <input class="input100"
                           type="password"
                           name="password" 
                           placeholder="Contraseña"
                           formControlName="password"
                           >
                           <span class="form-text text-danger" *ngIf="validarCampo('password')">
                            La contraseña no puede estar vacía
                        </span>
                </div>
                
                <div class="text-right p-t-8 p-b-31"></div>
                
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


