
<h2>Perfil</h2>

<hr>

<form (ngSubmit)="updateEntrenador()" [formGroup]="entrenadorForm" autocomplete="off">

<div class="align-items-center">
 
      <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input 
        type="text" 
        class="form-control" 
        id="username" 
        formControlName="username"
      >
      <span class="form-text text-danger"
            *ngIf="validarCampo('username')">
          El Nombre de Usuario no puede estar vacío
        </span>
      </div>
       
      <div class="row">
        <div class="form-group col-4">
          <label for="nombre">Nombre</label>
          <input 
          type="text" 
          class="form-control" 
          id="nombre" 
          formControlName="nombre"
          readonly
         >
        </div>
        <div class="form-group col-4">
            <label for="apellidos">Apellidos</label>
            <input 
            type="text" 
            class="form-control"
            id="apellidos" 
            formControlName="apellidos"
            readonly
            >
            
          </div>

          <div class="form-group col-4">
            <label for="edad">Edad</label>
            <input 
            type="number" 
            class="form-control" 
            id="edad" 
            formControlName="edad"
            readonly
            >
          </div>
      </div>

      <div class="form-group">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea 
        class="form-control" 
        id="descripcion" 
        rows="3"
        formControlName="descripcion"></textarea>
        <span class="form-text text-danger"
            *ngIf="validarCampo('descripcion')">
            La descripcion no puede estar vacia
            </span>
      </div>

      <div class="form-group">
        <label for="imagen">Imagen de Perfil</label>
        <input 
        type="text" 
        class="form-control" 
        id="imagen" 
        formControlName="imagen"
        placeholder="Url de la imagen de perfil"
        >
        <span class="form-text text-danger"
            *ngIf="validarCampo('edad')">
            La Imagen de perfil es obligatoria
            </span>
      </div>
      
      <div class="text-center m-3" *ngIf="entrenadorUpdate.imagen.length > 0">
        <img src={{entrenadorUpdate.imagen}} class="img-fluid rounded" alt="Preview">
      </div>


      <div class="row justify-content-center">
        <div class="col-4 d-grid mt-2 ">
          <button 
          type="submit" 
          class="btn btn-md btn-primary ">Actualizar Informaciónn</button>
        </div>
      </div>
  </div>    
    
</form>

