   
<div class="bg-dark border-right p-3" id="sidebar">
   <h2 class="text-light">DashBoard</h2>
    <hr class="text-white" />
    <ul class="list-group">
        <li 
        class="list-group-item" 
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact : true}"
        >
        Añadir Entrenamiento
    </li>
        <li 
        class="list-group-item" 
        routerLink="ejercicios"
        routerLinkActive="active"
        >
        Añadir Ejercicio
    </li>
        <li 
        class="list-group-item" 
        routerLink="entrenador"
        routerLinkActive="active"
        >
        Añadir Entrenador
    </li>
        <li 
        class="list-group-item" 
        routerLink="perfil/1"
        routerLinkActive="active"
        >
        Perfil
    </li>

    </ul>

</div>